<!-- Footer Started -->
<div id="footer">
	<div class="container">
		<p class="footer-block">
      
      <%= link_to('About Us', {})%>
      <%= link_to('Privacy Policy', {})%>
      <%= link_to('Terms & Conditions', {})%>
      <%= link_to('Reviews', {})%>
      
      <a href=""> <i class="fa fa-google-plus footer-icon" aria-hidden="true"></i> </a>
      <a href=""><i class="fa fa-twitter footer-icon" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-instagram footer-icon" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-facebook footer-icon" aria-hidden="true"></i></a>
    </p>
</div>
</div>
<div class="copyright">
<div class="container">
		<p class="text-muted copyright_class"> © 2017 hotelspop Inc., All rights reserved </p>
</div>
</div>
  <!-- Footer Ended -->
<script type="text/javascript">
  $(document).ready(function(){
    var flightDatePicker = new datePicker({
          start:  document.getElementsByClassName('startflightDate'),
          end:    document.getElementsByClassName('endflightDate'),
          months: 2,
      });

      var tripDatePicker = new datePicker({
          start:  document.getElementsByClassName('startDate'),
          end:    document.getElementsByClassName('endDate'),
          months: 2,
       });
  });
</script>
