.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background: #44587B;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: bold;
  position:relative;
  border: #44587B;
  border-bottom: 0px;
  li { 
    display: inline-block;
  }
  .navbar-left{
    padding-top: 10px;
  }
  a {
    color: white !important;
  }
  .upper_nav_row{
    background: #44587B;
    margin-left:4%;
    margin-right:4%;
  }
  .bottom_nav_row{
    background: white !important;
    font-size: 11px;
    line-height: 1.828571429;
    color: black;
    a{
      color: black !important;
    }
    a:hover{
      color: #4e6ca0 !important;
      text-decoration: none;
    }
    .Top_padding{
      padding-top: 10px;
      margin-left:4%;
      margin-right:5%;
    }
    .number{
      color: #4e6ca0 !important;
    }
    .flag_dropdown{
      padding: 0;
      margin-top: -17px;
    }
    .dropdown-toggle{
      background-color: transparent !important;
    }
    .dropdown-menu{
      min-width: 100px;
      font-size: 12px;
    }
    .caret{
      margin-left: 6px;
    }
  }
  .dropdown{
    background: #2F3E5A;
    width: 205px;
    a:hover{
      background-color: #2F3E5A !important;
    }
    a:active{
      background-color: #2F3E5A !important;
    }
    a:focus{
      background-color: #2F3E5A !important;
    }
    .hello_class{
      a{
        color: black !important;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.928571429;
      }
      a:hover, a:active, a:visited  {
        color:  #212f3c !important;
      }
      a:hover{
        background-color: transparent !important;
        color: #2874a6 !important;
      }
    }
    .caret{
      margin-left: 50px;
    }
  }
  .glyphicon-user{
    font-size: 10px;
    color: #EABC51 !important;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px 0 0 4px;
    border: 1px solid silver;
    border-radius: 50%;
    margin-right: 10px;
  }
}
#footer{
  margin-top: 40px;
  border-top: 0.5px solid #ECECEC;
  border-bottom: 0.5px solid #ECECEC;
  height: 80px;
  a{
    margin-right: 20px;
    color: silver !important;
  }
  a:hover{
    text-decoration: none !important;
    color: #2874a6 !important;
  }
  .footer-icon{
    margin-right: 10px;
    float: right;
    color: grey !important;
    font-size: 20px;
  }
}
.footer-block{
  margin-top: 2.5%;
}
.copyright{
  background-color: #ECECEC;
  height: 40px;
  p{
    margin-top: 10px;
  }
  .copyright_class{
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin-top: 2px;
    margin-left: 11px;
    margin-right: -6px;
    background: image-url('flags.png') no-repeat;
}
.flag.flag-us {
    background-position: -144px -154px;
}
.flag.flag-ca {
    background-position: -48px -22px;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
}
.dropdown-menu > li > a:hover {
    background-color: transparent;
}
.call_us{
    display: none;
}
.fa-times{
    display: none !important;
}
@media only screen and (max-width: 767px){
    .navbar-left{
        img{
            padding-top: 10px;
            display: block;
            margin: auto;
        }
    }
    .navbar .bottom_nav_row .Top_padding {
        padding-top: 10px;
        margin-right: 0px;
    }
    .navbar .dropdown {
        background: white;
        .hello_class{
            a:hover, a:active, a:visited  {
                background-color: silver !important;
                color:  silver !important;
            }
            a:hover{
                background-color: transparent !important;
                color: silver !important;
            }
        }
        .caret{
            text-align: right;
        }
    }
    #myNavbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 35%;
        height: 100%;
        background-color: white;
        li{
            display: inline-block;
            width: 100%;
            a{
                color: grey !important;
            }
        }   
    }
    #myNavbar2 {
        position: fixed;
        top: 100px;
        right: 0;
        z-index: 9999;
        width: 35%;
        height: 100%;
        background-color: white;
        li{
            display: inline-block;
            width: 100%;
            a{
                color: grey !important;
                padding-top: 5%;
            }
        }
    }
    .navbar .bottom_nav_row .flag_dropdown{
        display: inline-block !important;
        width: auto !important;
    }
    .flag {
        display: inline-block !important;
        width: 16px !important;
        height: 11px !important;
    }
    .navbar .bottom_nav_row .number{
        /* background-color: #555555 !important; */
        padding-left: 5%;
        width: 100%;
    }
    .call_us{
        padding-left: 5%;
        display: block;
    }
    .fa-times{
        display: block !important;
        position: fixed;
        left: 0;
        top: 20px;
        font-size: 20px;
        top: 0;
        color: grey;
    }
    .overlay_effect:not(#myNavbar, #myNavbar2){
        position: "fixed";
        top: "0px";
        left: "0px";
        width: "100%";
        height: "100%";
        background-color: "rgba(0,0,0,.5)";
        z-index: "10000";
        vertical-align: "middle";
        cursor: "wait";
    }
}